# Movies Tonight Part 3: SQL DML

In [2]:
%load_ext sql
%sql sqlite:///Movies.db

'Connected: @Movies.db'

1. **Load the `DATASET.csv` file into the `Movies.db` database.**  
    - Import the CSV file to create a new table called `DATASET`. Follow the example [here](http://www.sqlitetutorial.net/sqlite-import-csv/).
    - Use a [`PRAGMA table-info` pseudo-query](https://www.sqlite.org/pragma.html#pragma_table_info) to inspect the design of the new table. [How are we going to handle dates](https://www.sqlite.org/datatype3.html)?

In [10]:
%%sql
SELECT * 
FROM DATASET 
LIMIT 10;
PRAGMA table_info(DATASET);

 * sqlite:///Movies.db
Done.
Done.

[(0, 'TName', 'TEXT', 0, None, 0),
 (1, 'Location', 'TEXT', 0, None, 0),
 (2, 'Phone', 'TEXT', 0, None, 0),
 (3, 'MTitle', 'TEXT', 0, None, 0),
 (4, 'ShowTime', 'TEXT', 0, None, 0),
 (5, 'Rating', 'TEXT', 0, None, 0),
 (6, 'CCode', 'TEXT', 0, None, 0),
 (7, 'CName', 'TEXT', 0, None, 0)]

2. **Populate the tables with data.**  

    - Use `INSERT ... SELECT ...` queries to extract data from `DATASET` for each table of your other tables. 
    - Start with the strong entities before moving on to the weak ones. Be sure to always select distinct     values. 
    - Foreign Keys get special treatment. You will have to use JOINs to pick up the PKs from the other side of the relationships. (As in Part 1, use the fact that movie names, theater names, and people names are always unique in our source data. That way you can use then for the JOIN columns. 
    - If you have to start over, then rerun your DDL queries from Part 2.

In [13]:
%%sql
DELETE FROM MOVIES;
INSERT INTO MOVIES(TITLE,RATING)
    SELECT DISTINCT MTitle, Rating from DATASET;
SELECT * FROM MOVIES;

 * sqlite:///Movies.db
23 rows affected.
23 rows affected.
Done.

[(1, 'Associate, The', 'PG-13'),
 (2, 'Ghost & The Darkness, The', 'R'),
 (3, 'Independence Day', 'PG-13'),
 (4, 'D3: The Mighty Ducks', 'PG'),
 (5, 'Dear God', ''),
 (6, 'First Wives Club, The', 'PG-13'),
 (7, 'High School High', 'PG-13'),
 (8, 'Larger Than Life', 'PG'),
 (9, 'Mirror Has Two Faces, The', 'PG-13'),
 (10, 'Ransom', 'R'),
 (11, 'Sleepers', ''),
 (12, 'Space Jam', 'PG'),
 (13, "Stephen King's Thinner", ''),
 (14, 'Michael Collins', 'R'),
 (15, 'Romeo & Juliet', 'R'),
 (16, 'Big Night', 'R'),
 (17, 'Fly Away Home', 'PG'),
 (18, 'Nutty Professor, The', 'PG-13'),
 (19, 'Phenomenon', 'PG'),
 (20, 'Set It Off', 'R'),
 (21, 'Surviving Picasso', 'R'),
 (22, 'Very Brady Sequel, A', 'PG-13'),
 (23, 'That Thing You Do', 'PG')]

In [14]:
%%sql
DELETE FROM THEATERS;
INSERT INTO THEATERS(NAME, LOCATION, PHONE)
    SELECT DISTINCT TNAME, Location, Phone from DATASET;
SELECT * FROM THEATERS;

 * sqlite:///Movies.db
9 rows affected.
9 rows affected.
Done.

[(1, 'Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899'),
 (2, 'Cinema Star The Ultraplex 14', 'Mission Grove, Riverside', '(909) 342-2256'),
 (3, 'General Cinema Rancho 6', ' I-215 At Mt. Vernon S. At I-10, San Bernardino', '(714) 370-2085'),
 (4, 'Pacific Inland Center', ' Inland Center Mall, San Bernardino', '(714) 381-1611'),
 (5, 'SOCAL Canyon Crest Cinema', 'Central Avenue South Of 60 Freeway Near Ucr, Riverside', '(909) 682-6900'),
 (6, 'SOCAL Canyon Springs Cinema', 'East Of I-215 On 60 Freeway At Day Street Canyon, Moreno Valley', '(909) 782-0800'),
 (7, 'SOCAL Marketplace Cinema', 'University/mission Inn Exits East Of 91 Freeway On, Riverside', '(909) 682-4040'),
 (8, 'United Artists Riverside (Galleria) Tyler Mall', 'Riverside Fwy Tyler, Riverside', '(714) 689-802'),
 (9, 'United Artists Riverside Park Sierra', '3600 Park Sierra Dr., Riverside', '(909) 359-6995')]

In [23]:
%%sql
DELETE FROM ARTISTS;
INSERT INTO ARTISTS(NAME)
    SELECT DISTINCT CNAME from DATASET;
SELECT * FROM ARTISTS;

 * sqlite:///Movies.db
0 rows affected.
153 rows affected.
Done.

[(1, 'Austin Pendleton', None, None),
 (2, 'Bebe Neuwirth', None, None),
 (3, 'Dianne Wiest', None, None),
 (4, 'Eli Wallach', None, None),
 (5, 'Kenny Kerr', None, None),
 (6, 'Lainie Kazan', None, None),
 (7, 'Tim Daly', None, None),
 (8, 'Whoopi Goldberg', None, None),
 (9, 'Donald Petrie', None, None),
 (10, 'Bernard Hill', None, None),
 (11, 'Brian McCardie', None, None),
 (12, 'Emily Mortimer', None, None),
 (13, 'Henry Cele', None, None),
 (14, 'John Kani', None, None),
 (15, 'Michael Douglas', None, None),
 (16, 'Tom Wilkinson', None, None),
 (17, 'Val Kilmer', None, None),
 (18, 'Stephen Hopkins', None, None),
 (19, 'Bill Pullman', None, None),
 (20, 'Bill Smitrovich', None, None),
 (21, 'Harvey Fierstein', None, None),
 (22, 'Jeff Goldblum', None, None),
 (23, 'Judd Hirsch', None, None),
 (24, 'Margaret Colin', None, None),
 (25, 'Mary McDonnell', None, None),
 (26, 'Randy Quaid', None, None),
 (27, 'Robert Loggia', None, None),
 (28, 'Vivica Fox', None, None),
 (29, 'Will Smith', None, None),
 (30, 'Roland Emmerich', None, None),
 (31, 'Emilio Estevez', None, None),
 (32, 'Heidi Kling', None, None),
 (33, 'Jeffrey Nordling', None, None),
 (34, 'Joss Ackland', None, None),
 (35, 'Rob Lieberman', None, None),
 (36, 'Greg Kinnear', None, None),
 (37, 'Hector Elizondo', None, None),
 (38, 'Jon Seda', None, None),
 (39, 'Laurie Metcalf', None, None),
 (40, 'Maria Pitillo', None, None),
 (41, 'Roscoe Lee Browne', None, None),
 (42, 'Tim Conway', None, None),
 (43, 'Garry Marshall', None, None),
 (44, 'Bette Midler', None, None),
 (45, 'Diane Keaton', None, None),
 (46, 'Goldie Hawn', None, None),
 (47, 'Hugh Wilson', None, None),
 (48, 'and Louise Fletcher', None, None),
 (49, 'Jon Lovitz', None, None),
 (50, 'Mekhi Phifer', None, None),
 (51, 'Tia Carrera', None, None),
 (52, 'Hart Bochner', None, None),
 (53, 'Bill Murray', None, None),
 (54, 'Janeane Garofalo', None, None),
 (55, 'Jeremy Piven', None, None),
 (56, 'Keith David', None, None),
 (57, 'Matthew McConaughey', None, None),
 (58, 'Pat Hingle', None, None),
 (59, 'Howard Franklin', None, None),
 (60, 'Barbra Streisand', None, None),
 (61, 'Jeff Bridges', None, None),
 (62, 'Lauren Bacall', None, None),
 (63, 'Pierce Brosnan', None, None),
 (64, 'Delroy Lindo', None, None),
 (65, 'Gary Sinese', None, None),
 (66, 'Lili Taylor', None, None),
 (67, 'Mel Gibson', None, None),
 (68, 'Rene Russo', None, None),
 (69, 'Ron Howard', None, None),
 (70, 'Billy Crudup', None, None),
 (71, 'Brad Pitt', None, None),
 (72, 'Brad Renfro', None, None),
 (73, 'Dustin Hoffman', None, None),
 (74, 'Jason Patric', None, None),
 (75, 'Joseph Perrino', None, None),
 (76, 'Kevin Bacon', None, None),
 (77, 'Minnie Driver', None, None),
 (78, 'Robert De Niro', None, None),
 (79, 'Ron Eldard', None, None),
 (80, 'Terry Kinney', None, None),
 (81, 'Vittorio Gassman', None, None),
 (82, 'Barry Levinson', None, None),
 (83, 'Michael Jordan', None, None),
 (84, 'Theresa Randle', None, None),
 (85, 'Wayne Knight', None, None),
 (86, 'Joe Pytka', None, None),
 (87, 'Joe Mantegna', None, None),
 (88, 'Kari Wuhrer', None, None),
 (89, 'Lucinda Jenney', None, None),
 (90, 'Michael Constantine', None, None),
 (91, 'Robert John Burke', None, None),
 (92, 'Tom Holland', None, None),
 (93, 'Aidan Quinn', None, None),
 (94, 'Alan Rickman', None, None),
 (95, 'Julia Roberts', None, None),
 (96, 'Liam Neeson', None, None),
 (97, 'Stephen Rea', None, None),
 (98, 'Neil Jordan', None, None),
 (99, 'Claire Danes', None, None),
 (100, 'Diane Venora', None, None),
 (101, 'John Leguizamo', None, None),
 (102, 'Leonardo DiCaprio', None, None),
 (103, 'Paul Rudd', None, None),
 (104, 'Paul Sorvino', None, None),
 (105, 'Baz Luhrmann', None, None),
 (106, 'Campbell Scott', None, None),
 (107, 'Ian Holm', None, None),
 (108, 'Isabella Rossellini', None, None),
 (109, 'Stanley Tucci', None, None),
 (110, 'Tony Shalhoub', None, None),
 (111, 'Anna Paquin', None, None),
 (112, 'Dana Delany', None, None),
 (113, 'Jeff Daniels', None, None),
 (114, 'Carroll Ballard', None, None),
 (115, 'Dave Chappelle', None, None),
 (116, 'Eddie Murphy', None, None),
 (117, 'Jada Pinkett', None, None),
 (118, 'James Coburn', None, None),
 (119, 'John Ales', None, None),
 (120, 'Larry Miller', None, None),
 (121, 'Tom Shadyac', None, None),
 (122, 'Forest Whitaker', None, None),
 (123, 'John Travolta', None, None),
 (124, 'Kyra Sedgwick', None, None),
 (125, 'Robert Duvall', None, None),
 (126, 'Jon Turteltaub', None, None),
 (127, 'Blair Underwood', None, None),
 (128, 'John C. McGinley', None, None),
 (129, 'Kimberly Elise', None, None),
 (130, 'Queen Latifah', None, None),
 (131, 'F. Gary Gray', None, None),
 (132, 'Anthony Hopkins', None, None),
 (133, 'Joan Plowright', None, None),
 (134, 'Julianne Moore', None, None),
 (135, 'Natascha McElhone', None, None),
 (136, 'James Ivory', None, None),
 (137, 'Christine Taylor', None, None),
 (138, 'Christopher Daniel Barnes', None, None),
 (139, 'Gary Cole', None, None),
 (140, 'Henriette Mantel', None, None),
 (141, 'Jennifer Elise Cox', None, None),
 (142, 'Jesse Lee', None, None),
 (143, 'Olivia Hack', None, None),
 (144, 'Paul Sutera', None, None),
 (145, 'Shelley Long', None, None),
 (146, 'Tim Matheson', None, None),
 (147, 'Arlene Sanford', None, None),
 (148, 'Joss AcklandDirected by</B> Rob Lieberma', None, None),
 (149, 'Ethan Embry', None, None),
 (150, 'Johnathon Schaech', None, None),
 (151, 'Steve Zahn', None, None),
 (152, 'Tom Everett Scott', None, None),
 (153, 'Tom Hanks', None, None)]

In [33]:
%%sql
DELETE FROM SHOWS;
INSERT INTO SHOWS(SHOWTIME, MID, TID)
    SELECT DISTINCT DATASET.ShowTime,MOVIES.MID,THEATERS.TID
    FROM DATASET
        JOIN MOVIES ON (ARTISTS.TITLE = DATASET.MTitle)
        JOIN THEATERS ON (THEATERS.NAME = DATASET.TName);
SELECT SHOWTIME, TITLE, NAME FROM SHOWS JOIN MOVIES USING (MID) JOIN THEATERS USING (TID)

 * sqlite:///Movies.db
0 rows affected.
0 rows affected.
Done.

[]

In [38]:
%%sql
DELETE FROM CREDITS;
INSERT INTO CREDITS(CCODE, AID, MID)
    SELECT DISTINCT CCODE,AID, MID
    FROM DATASET
        JOIN ARTISTS ON (ARTISTS.NAME = DATASET.CName)
        JOIN MOVIES ON (MOVIES.TITLE = DATASET.MTitle);
SELECT * FROM CREDITS

 * sqlite:///Movies.db
0 rows affected.
0 rows affected.
Done.

[]

3. **Check your work.**  
There are 9 theaters, 23 movies, 152 artists, 131 shows, and 161 credits.

In [ ]:
YOUR CODE HERE

4. **Now check the source data.**  
There are actually 13 duplicate rows in the original source data! Can you spot them? Write a SQL query that counts how many times each (MTitle, TName, Showtime, CCode, and CName) appears. Which ones appear more than once?

In [ ]:
YOUR CODE HERE

5. **Drop the `DATASET` table.**  
We don't need it anymore.

6. **Save, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 3".