# Movies Tonight Part 2: SQL DDL

In [3]:
%load_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [8]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [19]:
%%sql
/* Creating a table name Theatre */
CREATE TABLE THEATRE(
    TID, 
    Name, 
    Location,  
    Phone, 
    PRIMARY KEY (TID)
);

 * sqlite:///Movies.db
   sqlite:///database
(sqlite3.OperationalError) table THEATRE already exists
[SQL: /* Creating a table name Theatre */
CREATE TABLE THEATRE(TID, NAME, LOCATION,  PHONE INT, PRIMARY KEY (TID));]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [20]:
%%sql
/* Creating a table name Show */
CREATE TABLE SHOW(
   TID   
   SID   
   MID   
   Phone
   PRIMARY KEY (SID)
);

 * sqlite:///Movies.db
   sqlite:///database
(sqlite3.OperationalError) near "(": syntax error
[SQL: /* Creating a table name Show */
CREATE TABLE SHOW(
   TID
   SID
   MID
   PHONE
   PRIMARY KEY (SID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [21]:
%%sql
/* Creating a table name Artist */
CREATE TABLE ARTIST(
   AID   
   Name   
   Bio   
   PRIMARY KEY (AID)
);

 * sqlite:///Movies.db
   sqlite:///database
(sqlite3.OperationalError) near "(": syntax error
[SQL: /* Creating a table name Artist */
CREATE TABLE ARTIST(
   AID
   Name
   Bio
   PRIMARY KEY (AID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [22]:
%%sql
/* Creating a table name Credit */
CREATE TABLE CREDIT(
   AID   
   CID   
   CCode   
   PRIMARY KEY (CID)
);

 * sqlite:///Movies.db
   sqlite:///database
(sqlite3.OperationalError) near "(": syntax error
[SQL: /* Creating a table name Credit */
CREATE TABLE CREDIT(
   AID
   CID
   CCode
   PRIMARY KEY (CID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [23]:
%%sql
/* Creating a table name Movie */
CREATE TABLE MOVIE(
   MID   
   Title   
   Rating   
   PRIMARY KEY (MID)
);

 * sqlite:///Movies.db
   sqlite:///database
(sqlite3.OperationalError) near "(": syntax error
[SQL: /* Creating a table name Movie */
CREATE TABLE MOVIE(
   MID
   Title
   Rating
   PRIMARY KEY (MID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [ ]:
%%sql
/* Creating a foreign key in the table SHOW */
ALTER TABLE SHOW
ADD FOREIGN KEY (TID) REFERENCES **(TID);

In [ ]:
%%sql
/* Creating a foreign key in the table CREDIT */
ALTER TABLE CREDIT
ADD FOREIGN KEY (AID) REFERENCES **(AID);

In [ ]:
%%sql
/* Creating a foreign key in the table MOVIE */
ALTER TABLE MOVIE
ADD FOREIGN KEY (AID) REFERENCES **(AID);

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".